<div class="card col-8 comm">
                        <h5 class="card-subtitle text-muted"> creator of comment</h3>
                        <p class="card-text"> comment text </p>
                    </div>