{{#each posts as |post|}}
<div class="card col-8 postmain">
	<h5 class="card-title">{{post.title}} </h5>
	<p class="card-text">
		{{post.date_created}}
	</p>
</div>
{{/each}}
<div>
	<textarea class="text"></textarea>
	<button class="Submit"> Create New post</button>
</div>

<script src="../public/js/newPost.js"></script>