<div class="card col-8 postmain">
                        <h2 class="card-title">post tile here</h5>
                        <div class="container-fluid">
                            <div class="row justify-content-between">
                                <div class="col"><h4 class="card-subtitle text-muted"> creator</h5></div>
                                <div class="col"><h4 class="card-subtitle text-muted">date created</h5></div>
                            </div>
                        </div>
    
                        <br>
                        <p class="card-text"> Post details</p>
</div>