*{
    box-sizing: border-box;
}

.postmain{
    background-color: rgb(222, 135, 200);
    padding: 1%;
    margin-top: 1em;
    padding: 00.5em;
}

.comm{
    background-color: darksalmon;
    color: darkslateblue;
}

#comcard{
    margin-top: 1em;
    padding: 0.5em;
}