*{
    box-sizing: border-box;
}

body{
    background-color: blanchedalmond;
    
}



.postmain{
    background-color: rgb(135, 218, 197);
    padding: 1%;
    margin-top: 1em;
    padding: 00.5em;
}

.comm{
    background-color: darksalmon;
    color: darkslateblue;
}

#comcard{
    margin-top: 1em;
    padding: 0.5em;
}